* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    
    min-height: 100px;
    display: flex;
    flex-direction: space-between;
    align-items: flex-start;
    justify-content: space-between;
    


    background-color: #0f172a;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 50%;
    flex-wrap: wrap;

}

h1 {
    color: #38bdf8;

}

button,
.tl {
    background-color: #38bdf8;
    color: black;

    padding: 10px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

button:active {
    transform: scale(0.95);
}

